@import "./fonts.scss";

body {
  font-family: "Rubik", "PT Serif", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.38rem;
  line-height: 1.7;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0rem;
  // min-height: 100vh;
  color:#444444;
  background-color: #e1e1e1;
  // background-color: #e6e6e6;
  // background-color: #ffffff;

}

::-moz-selection { /* Code for Firefox */
  background: #FFb297;
}

::selection {
  background: #FFb297;
}

.content {
  max-width: 100%;
}

h1,
h2,
h4,
h5,
h6 {
  font-weight: 500;
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

h3 {
  font-weight: 500;
  margin-block-start: 1em;
  margin-block-end: -1em;
}


body {
  b,
  strong {
    font-weight: 500;
  }

  blockquote {
    border-left: 6px solid var(--accent-color-light);
    padding-left: 1rem;
    font-style: italic;
    opacity: 0.9;
  }

  pre {
    overflow: auto;
    padding: 1rem;
    max-width: 100%;
  }
}

code {
  background: hsla(0, 0%, 0%, 0.04);
  padding: 0.2em 0;

  pre > & {
    background: none;
  }
}

a,
a:visited {
	//   color: #444444;
	color: var(--accent-color);
	text-decoration: none;
  // text-decoration: none;
  // border-bottom: 1px solid var(--accent-color-light);
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color-light);
  text-decoration-thickness: .1em;
  text-underline-offset: .07em;
}

a.alwaysLight{
  color: var(--accent-color-light);
  text-decoration: none;
}

a.alwaysDark{
  color: var(--accent-color);
  text-decoration: none;
}

a.alwaysDark:hover{
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: .1em;
  text-underline-offset: .05em;
}

main {
  max-width: 700px;
  padding-top: 8rem;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

$footnote-space: 2rem;

.footnote-definition {
  font-size: 1rem;
  margin: 1rem 0px;
  padding-left: 40px;
  position: relative;

  &:nth-of-type(1) {
    margin-top: $footnote-space;
    padding-top: $footnote-space;
    border-top: 2px solid rgba(0, 0, 0, 0.1);

    & > sup {
      top: $footnote-space;
    }
  }

  & > sup {
    position: absolute;
    top: 0;
    right: calc(100% - 35px);
    font-size: inherit;
    line-height: inherit;
    margin-right: 0px;
    display: inline-block;

    &:after {
      content: ".";
    }
  }

  & > p {
    display: inline-block;
    margin: 0;
  }
}



header {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

// div.header-img{
//   width: 78%;
//   // max-width: 550px;
// }

// div.header-nav{
//   width:22%
// }

a.profile-icon {
  border: none;
  height: 50px;
  width: 50px;
  position: relative;

}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  padding-left: 3%;
  font-weight: 500;
  
  > a:not(:last-child) {
    margin-right: 0.8rem;
  }
}

hr {
  // border: solid 1px rgba(0, 0, 0, 0.1);
  height:2px;
  border-width:0;
  color: #ff652f;
  background-color: #ff652f;
  // border: 1px solid #ff652f;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  // float:center;
  // margin-left:0 auto;
  // margin-bottom: 4 rem;
  width: 80%;
}

// @media (max-width: 600px) {
//   body {
//     padding: 1rem;
//   }

//   main {
//     padding-top: 1rem;
//   }
// }

// font size on big screens is 1.38 rem and line-height is 1.7

@media (max-width: 768px) {
  body {
    padding: 1rem;
    font-size:1.18rem;
    line-height: 1.5;
  }

  main {
    padding-top: 1rem;
  }
}
